:root{
    --primary-collor:  rgb(157, 154, 160);
}
*{
    box-sizing: border-box;
    outline: 0;
    margin: 0;
    padding: 0;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body{
    background: var(--primary-collor);
}
.container{
    font-size: 1.7rem;
    font-family: sans-serif;
    line-height: 2rem;
    max-width: 64rem;
    margin: 5rem auto;
    padding: 2rem;
    background: #757272;
    border-radius: 1rem;
}
.container h1{
    margin-bottom: 2rem;
}
.container p{
    margin-bottom: 3rem;
}
form input, form label, form button{
    display: block;
    width: 100%;
    margin-bottom: 1rem;
}
form input{
    outline: 0.2rem solid var(--primary-collor);
    height: 5rem;
}
form button{
    border: none;
    background: var(--primary-collor);
    color: whitesmoke;
    font-size: 1.8rem;
    font-weight: 700;
    height: 5rem;
    cursor: pointer;
    margin-top: 3rem;
}
form button:hover{
    background: #222222;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 3rem;
}

table td, table th {
  padding: 0.1rem;
  border: 0.1rem solid var(--light-gray-color);
  text-align: left;
}