* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    margin-bottom: 1rem;
}

button:hover {
    background-color: #218838;
}

#result.underweight {
    color: #007bff;
}

#result.normal {
    color: #28a745;
}

#result.overweight {
    color: #ffc107;
}

#result.obese {
    color: #dc3545;
}

#result.extremely-obese {
    color: #6f42c1;
}

#classificationResult {
    margin-top: 10px;
    font-size: 1em;
    font-weight: normal;
    color: #666;
    text-shadow: none;
}

#classificationResult li {
    list-style: none;
    margin: 5px 0;
}